
.tasks{
    border-collapse: separate;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    font-size: large;
    border: 1px groove black;
}

thead{
    background-color: lightgreen;

}

.even{
    background-color: lightgray;
    border-bottom-color: yellow;
}

#viewTodos{
    background-color: aqua;
    justify-content: flex-end;
}

.flex-container{
    display: flex;
    background-color: dodgerblue;
    width: 60%; 
    
}



